{% extends "professor/New_baseProfPage.html" %}
{% load static %}

{% block menu %}
        <div class="sidebar" data-color="black">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    CT
                </a>
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    {{object.FirstName}}
                    {{object.LastName}}
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a onclick="window.location.href= '/professor/{{user.username}}'">
                            <i class="now-ui-icons design_app"></i>
                            <p>Current Courses</p>
                        </a>
                    </li>
                    <li class="active">
                        <a onclick="window.location.href= '/archiveCourseProfessor/{{user.username}}'">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Archive Courses</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.location.href= '/CourseForm/'">
                            <i class="now-ui-icons location_map-big"></i>
                            <p>Add a Course</p>
                        </a>
                    </li>
                    <li>
                        <a href="../notifications.html">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Edit Courses</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block title %}

{% endblock %}

{% block body%}

        <!-- Editable table -->
<section class="p-t-20">
    <div class="container">
        <div class="card">
          <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Your Archived Courses</h3>
          <div class="card-body">
            <div id="table" class="table-editable">
              <span class="table-add float-right mb-3 mr-2"><a onclick="window.location.href = '/CourseForm/'" class="text-success"><i
                      class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                  <tr>
                    <th class="text-center">Course Name</th>
                    <th class="text-center">Course ID</th>
                    <th class="text-center">Group ID</th>
                    <th class="text-center">Professor Name</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Remove</th>
                      <th class="text-center">Edit</th>
                  </tr>
                </thead>
                <tbody>
                 {% for i in object.course_set.all %}
                 {% if i.Status == 'archive' %}
                  <tr>
                    <td class="pt-3-half" contenteditable="true">{{i.Name}}</td>
                    <td class="pt-3-half" contenteditable="true">{{i.CourseID}}</td>
                    <td class="pt-3-half" contenteditable="true">{{i.GroupID}}</td>
                    <td class="pt-3-half" contenteditable="true">
                        {% for j in i.Professor.all %}
                        {{ j.FirstName }}  {{ j.LastName }}
                          <p></p>
                        {% endfor %}
                    </td>
                    <td class="pt-3-half" contenteditable="true">{{i.Status}}</td>
                    <td>

                                                  <div class="text-center">
        <button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal" data-target="#modalDelete"
        >Remove<i class="fas fa-times ml-1"></i></button>
    </div>
                        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Remove</h4>
            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <p class="text-center h4">what do you want to do with this course ? </p>

          </div>
          <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
            <button type="button" onclick="window.location.href = '/professorDeleteCourse/{{i.CourseID}}/{{i.GroupID}}'" class="btn btn-danger btnYesClass" id="btnYes" data-dismiss="modal">Delete</button>
              <button type="button" class="btn btn-primary btnNoClass"  id="btn" data-dismiss="modal">Nothing</button>
          </div>
        </div>
      </div>
    </div>

                    </td>
                      <td>
                             <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Edit form</h4>
            <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <input type="text" id="formCourseNameEdit" class="form-control validate">
              <label data-error="wrong" data-success="right" for="formCourseNameEdit">CourseName</label>
            </div>

            <div class="md-form mb-5">
              <input type="text" id="formCourseIDEdit" class="form-control validate">
              <label data-error="wrong" data-success="right" for="formCourseIDEdit">CourseID</label>
            </div>

            <div class="md-form mb-5">
              <input type="text" id="formGroupIDEdit" class="form-control validate">
              <label data-error="wrong" data-success="right" for="formGroupIDEdit">GroupID</label>
            </div>

            <div class="md-form mb-5">
              <input type="text" id="formProfessorNameEdit" class="form-control validate">
              <label data-error="wrong" data-success="right" for="formProfessorNameEdit">ProfessorName</label>
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center editInsideWrapper">
            <button class="btn btn-outline-secondary btn-block editInside" data-dismiss="modal">Edit
              form
              <i class="fas fa-paper-plane-o ml-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center buttonEditWrapper">
        <button class="btn btn-info btn-rounded btn-sm buttonEdit" data-toggle="modal" data-target="#modalEdit">Edit<i class="fas fa-pencil-square-o ml-1"></i></button>
    </div>
                      </td>
                  </tr>
                 {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</section>

<!--Modal: modalConfirmDelete-->

{% endblock %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

