{% extends "professor/New_baseProfPage.html" %}
{% load widget_tweaks %}
{% load static %}

{% block menu %}
        <div class="sidebar" data-color="black">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">

                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    <p>
                        New Question
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Multiple Choice</a>
                    <a class="dropdown-item" href="#">Feeback</a>
                    <a class="dropdown-item" href="#">Default Question</a>

                </div>


                <form>
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search Questions...">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </span>
                    </div>
                </form>

            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="../examples/dashboard.html">
                            <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="../examples/icons.html">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Icons</p>
                        </a>
                    </li>
                    <li>
                        <a href="../examples/map.html">
                            <i class="now-ui-icons location_map-big"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li>
                        <a href="../notifications.html">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li>
                        <a href="../examples/user.html">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="../examples/tables.html">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Table List</p>
                        </a>
                    </li>
                    <li>
                        <a href="../examples/typography.html">
                            <i class="now-ui-icons text_caps-small"></i>
                            <p>Typography</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="../examples/upgrade.html">
                            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block title %}
<a class="navbar-brand" href="#pablo">{{ course.Name }}</a>
<a class="navbar-brand" href="#pablo">{{ course.CourseID }}-{{course.GroupID}}</a>
{% endblock %}

{% block body%}

<div class="content">

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">New Multiple Choice Question</h5>
                            </div>
                            <div class="card-body">
                                <form action="{{request.path}}" method="post" id="form1">
                                    {% csrf_token %}

                                    <div class="col-md-5 pr-1">
                                        {{ question_form.as_p}}
                                        <div class="element-wrapper">
                                            <div class="row" style="display: none">
                                                <label >Another Choice</label>
                                                <input name="new" type="text" class="form-control" placeholder="New Choice..."/>
                                                <button type="button" onclick="deleterow()" class="btn btn-round btn-default btn-simple btn-icon">
                                                    <i class="now-ui-icons ui-1_simple-delete"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" onclick="addrow()" class="btn btn-round btn-simple btn-icon">
                                        <i class="now-ui-icons ui-1_simple-add"></i>
                                    </button>

                                    <div class="col-md-8">
                                        <button type="submit" form="form1" class="btn btn-round btn-simple">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>


<script type="text/javascript">

    function addrow (){
        var row = $(".row").eq(0).clone().show();
        $(".element-wrapper").append(row);
    }

    function deleterow (){
        var index = $(".btn-remove-row").index(this);
        $(".row").eq(index).remove();
    }
</script>

<script type="text/javascript">
    $(document).on("click", ".btn-add-row", function () {
        alert("hello");
        var row = $(".row").eq(0).clone().show();
        $(".element-wrapper").append(row);
    });


    $(document).on("click", ".btn-remove-row", function () {

        var index = $(".btn-remove-row").index(this);
        $(".row").eq(index).remove();
    })
</script>

{% endblock %}



<script type="text/javascript">
    $(document).on("click", ".btn-add-row", function () {
        alert("hello");
        var row = $(".row").eq(0).clone().show();
        $(".element-wrapper").append(row);
    });


    $(document).on("click", ".btn-remove-row", function () {

        var index = $(".btn-remove-row").index(this);
        $(".row").eq(index).remove();
    })
</script>


<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
